*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5D4954;
    font-family: 'Raleway', sans-serif;
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    z-index:5;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

.burger {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5D4954;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


header {
    background-image: url("https://wallpaperaccess.com/full/2454628.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    color: white;
    position: relative;
    display: block;
}

.header-text {
    display: inline-block;
    position: absolute;
    bottom: 20%;
    left: 5%;
    font-family: "DejaVu Sans";
    letter-spacing: 1px;
}

#about {
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 100vh;

}

.about-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 15%;



}



.pictureOfMe{
    position: absolute;
    z-index: 1;
    left: 20%;
    top: 20%;
    width:350px;
    height: 300px;

}

.backPicture {
    position: absolute;
    top: 10%;
    left: 8%;
    width: 350px;
    height: 330px;
}

#portfolio {
    height: 500px;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.piano {
    width: 300px;
    height: 300px;
    background-color: white;
    padding: 20px;
    margin: 10px;



}

.computer {
    width: 300px;
    height: 300px;
    background-color: white;
    padding: 20px;
    margin: 10px;
}

.imagesPortfolio {
    display: flex;
    justify-content: space-around;
}

#contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactText {
    text-align: center;
      line-height: 20px;

}

i {
    margin: 5px;
    color: #c1b9b9;
    font-size: 150%;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80px;
    background-color: rgb(86, 51, 32);
    color: white;
    text-align: center;
    margin-top: 10px;
}

/* Pop-up part */
.open-window {
    display: block;
    font-size: 120%;
    background: coral;
}
.open-window:hover, .open-window:focus {
    cursor: pointer;
}

.window {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.window-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    animation: modalopen 1s;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.close-window {
    color: #ccc;
    float: right;
    font-size: 30px;
}
.close-window:hover, .close-window:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}




